<h3>Twitter API Proxy For Rails</h3>

<% unless @authorized %>
<p>
	<a href="<%=h @authorize_url %>">Click here to authorize our application.</a>
</p>
<% end %>

<p>
	by nowa < nowazhu[AT]gmail.com >.
</p>

<p>
	<a href="http://nowa.me">http://nowa.me</a>
</p>